section.inner-hero
  .container
    .inner-hero__breadcrumbs.breadcrumbs
      each link in skms.hero.breadcrumbs
        a.breadcrumbs__link(href="#")= link
    h1.inner-hero__title= skms.hero.title
    .inner-hero__row
      .inner-hero__block
        h4.inner-hero__subtitle= skms.hero.about.title
        each item in skms.hero.about.links
          a.inner-hero__link.js-scroll-to(href=item["link"])= item.text
      .inner-hero__block
        h4.inner-hero__subtitle= skms.hero.projects.title
        each item in skms.hero.projects.links
          a.inner-hero__link(href="#")= item
      .inner-hero__block
        a.inner-hero__link.inner-hero__link--with-icon(href=skms.hero.docs.link download)
          +icon(skms.hero.docs.icon)
          span= skms.hero.docs.text
        a.inner-hero__link.inner-hero__link--with-icon(href=skms.hero.video.link target="_blank")
          +icon(skms.hero.video.icon)
          span= skms.hero.video.text